.general-info__number {
    margin: 0px;
    color: #FFF;
    font-variant-numeric: oldstyle-nums proportional-nums;
    font-family: 'Krisis Sans';
    font-size: 152px;
    font-style: normal;
    font-weight: 900;
    line-height: 135%;
   
   
}