.general-info__subtitle {
    max-width: 950px;
    color: #FFF;
    text-align: center;
    font-family: 'LiterataR';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    margin-top: 12px;
    margin-bottom: 0px;
    padding: 0px 5px;
}